/* COULEUR PAR DEFAUT */
/* COULEUR PAR DEFAUT */
/* COULEUR PAR DEFAUT */
/* COULEUR PAR DEFAUT */
/* GESTION ALERTE */
.alert {
  width: 75vw;
  min-height: 5vh;
  max-height: 25vh;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5% 0;
  border: 1px solid black;
}

.success {
  color: #7ac78d;
  border-color: #7ac78d;
  background-color: #edf8f0;
}

.danger {
  color: #e56a76;
  border-color: #e56a76;
  background-color: #fdf5f6;
}

.warning {
  color: #ffd44e;
  border-color: #ffd44e;
  background-color: #fffcf1;
}

.info {
  color: #6fc4d3;
  border-color: #6fc4d3;
  background-color: #ecf7f9;
}

.alert-red {
  color: maroon;
  border-color: maroon;
  background-color: #ff2424;
}

.alert-blue {
  color: navy;
  border-color: navy;
  background-color: #2424ff;
}

.alert-green {
  color: #000100;
  border-color: #000100;
  background-color: #00a400;
}

.alert-yellow {
  color: olive;
  border-color: olive;
  background-color: #ffff24;
}

.alert-pink {
  color: #ff4162;
  border-color: #ff4162;
  background-color: #ffe4e8;
}

.alert-purple {
  color: #010001;
  border-color: #010001;
  background-color: #a400a4;
}

.alert-cyan {
  color: teal;
  border-color: teal;
  background-color: #24ffff;
}

.alert-grey {
  color: #404040;
  border-color: #404040;
  background-color: #929292;
}

.alert-black {
  color: black;
  border-color: black;
  background-color: #121212;
}

/* GESTION NAVBAR */
.navbar {
  list-style-type: none;
  display: flex;
  background-color: darkgrey;
  margin: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
@media (max-width: 900px) {
  .navbar {
    justify-content: space-around;
  }
}
@media (max-width: 300px) {
  .navbar {
    flex-direction: column;
  }
}

.navitem {
  text-decoration: none;
  color: white;
  background-color: darkgrey;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}
@media (max-width: 900px) {
  .navitem {
    flex-grow: 1;
  }
}
@media (max-width: 300px) {
  .navitem {
    width: 100%;
  }
}
.navitem:hover {
  background-color: #838383;
}
.navitem:active {
  background-color: #767676;
}

.navbar-red {
  background-color: red;
}

.navitem-bg-red {
  background-color: red;
}
.navitem-bg-red:hover {
  background-color: #b30000;
}
.navitem-bg-red:active {
  background-color: #990000;
}

.navitem-color-red {
  color: red;
}

.navbar-blue {
  background-color: blue;
}

.navitem-bg-blue {
  background-color: blue;
}
.navitem-bg-blue:hover {
  background-color: #0000b3;
}
.navitem-bg-blue:active {
  background-color: #000099;
}

.navitem-color-blue {
  color: blue;
}

.navbar-green {
  background-color: green;
}

.navitem-bg-green {
  background-color: green;
}
.navitem-bg-green:hover {
  background-color: #003400;
}
.navitem-bg-green:active {
  background-color: #001a00;
}

.navitem-color-green {
  color: green;
}

.navbar-yellow {
  background-color: yellow;
}

.navitem-bg-yellow {
  background-color: yellow;
}
.navitem-bg-yellow:hover {
  background-color: #b3b300;
}
.navitem-bg-yellow:active {
  background-color: #999900;
}

.navitem-color-yellow {
  color: yellow;
}

.navbar-pink {
  background-color: pink;
}

.navitem-bg-pink {
  background-color: pink;
}
.navitem-bg-pink:hover {
  background-color: #ff748c;
}
.navitem-bg-pink:active {
  background-color: #ff5a77;
}

.navitem-color-pink {
  color: pink;
}

.navbar-purple {
  background-color: purple;
}

.navitem-bg-purple {
  background-color: purple;
}
.navitem-bg-purple:hover {
  background-color: #340034;
}
.navitem-bg-purple:active {
  background-color: #1a001a;
}

.navitem-color-purple {
  color: purple;
}

.navbar-cyan {
  background-color: cyan;
}

.navitem-bg-cyan {
  background-color: cyan;
}
.navitem-bg-cyan:hover {
  background-color: #00b3b3;
}
.navitem-bg-cyan:active {
  background-color: #009999;
}

.navitem-color-cyan {
  color: cyan;
}

.navbar-grey {
  background-color: grey;
}

.navitem-bg-grey {
  background-color: grey;
}
.navitem-bg-grey:hover {
  background-color: #5a5a5a;
}
.navitem-bg-grey:active {
  background-color: #4d4d4d;
}

.navitem-color-grey {
  color: grey;
}

.navbar-black {
  background-color: black;
}

.navitem-bg-black {
  background-color: black;
}
.navitem-bg-black:hover {
  background-color: black;
}
.navitem-bg-black:active {
  background-color: black;
}

.navitem-color-black {
  color: black;
}

.navbar.center {
  justify-content: center;
}

.navbar.flex-end {
  justify-content: flex-end;
}

.navbar.flex-start {
  justify-content: flex-start;
}

/* GESTION BOUTONS */
.btn {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: #343434;
  background-color: grey;
  max-width: 10vw;
  border: 1px solid #010101;
  box-shadow: 3px 3px #343434;
}
.btn:hover {
  background-color: #343434;
  color: #a6a6a6;
}

.btnSm {
  max-width: 10vw;
}

.btnMd {
  max-width: 20vw;
}

.btnLg {
  max-width: 45vw;
}

.btnSuccess {
  color: #68c07d;
  background-color: #D4EDDA;
}
.btnSuccess:hover {
  background-color: #68c07d;
  color: white;
}

.btnDanger {
  color: #e15562;
  background-color: #F8D7DA;
}
.btnDanger:hover {
  background-color: #e15562;
  color: white;
}

.btnWarning {
  color: #ffce34;
  background-color: #FFF3CD;
}
.btnWarning:hover {
  background-color: #ffce34;
  color: white;
}

.btnPrimary {
  color: #5cbccd;
  background-color: #D1ECF1;
}
.btnPrimary:hover {
  background-color: #5cbccd;
  color: white;
}

.btnFlat {
  box-shadow: none;
  border: none;
}

.btnOutline {
  border: 1px solid #010101;
  background: none;
  color: #010101;
}

.btn-red {
  color: #660000;
  background-color: red;
}
.btn-red:hover {
  background-color: #660000;
  color: #ff4d4d;
}

.btn-blue {
  color: #000066;
  background-color: blue;
}
.btn-blue:hover {
  background-color: #000066;
  color: #4d4dff;
}

.btn-green {
  color: black;
  background-color: green;
}
.btn-green:hover {
  background-color: black;
  color: #00cd00;
}

.btn-yellow {
  color: #666600;
  background-color: yellow;
}
.btn-yellow:hover {
  background-color: #666600;
  color: #ffff4d;
}

.btn-pink {
  color: #ff274d;
  background-color: pink;
}
.btn-pink:hover {
  background-color: #ff274d;
  color: white;
}

.btn-purple {
  color: black;
  background-color: purple;
}
.btn-purple:hover {
  background-color: black;
  color: #cd00cd;
}

.btn-cyan {
  color: #006666;
  background-color: cyan;
}
.btn-cyan:hover {
  background-color: #006666;
  color: #4dffff;
}

.btn-grey {
  color: #343434;
  background-color: grey;
}
.btn-grey:hover {
  background-color: #343434;
  color: #a6a6a6;
}

.btn-black {
  color: black;
  background-color: black;
}
.btn-black:hover {
  background-color: black;
  color: #262626;
}

/* GESTION GRID */
.col-md-1 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 1;
}

@media screen and (max-width: 800px) {
  .col-xs-1 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 1;
  }
}

.col-md-2 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 2;
}

@media screen and (max-width: 800px) {
  .col-xs-2 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 2;
  }
}

.col-md-3 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 3;
}

@media screen and (max-width: 800px) {
  .col-xs-3 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 3;
  }
}

.col-md-4 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 4;
}

@media screen and (max-width: 800px) {
  .col-xs-4 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 4;
  }
}

.col-md-5 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 5;
}

@media screen and (max-width: 800px) {
  .col-xs-5 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 5;
  }
}

.col-md-6 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 6;
}

@media screen and (max-width: 800px) {
  .col-xs-6 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 6;
  }
}

.col-md-7 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 7;
}

@media screen and (max-width: 800px) {
  .col-xs-7 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 7;
  }
}

.col-md-8 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 8;
}

@media screen and (max-width: 800px) {
  .col-xs-8 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 8;
  }
}

.col-md-9 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 9;
}

@media screen and (max-width: 800px) {
  .col-xs-9 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 9;
  }
}

.col-md-10 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 10;
}

@media screen and (max-width: 800px) {
  .col-xs-10 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 10;
  }
}

.col-md-11 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 11;
}

@media screen and (max-width: 800px) {
  .col-xs-11 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 11;
  }
}

.col-md-12 {
  grid-gap: 10px;
  padding: 1%;
  box-sizing: border-box;
  grid-row: auto;
  grid-column-end: span 12;
}

@media screen and (max-width: 800px) {
  .col-xs-12 {
    grid-gap: 10px;
    padding: 1%;
    box-sizing: border-box;
    grid-row: auto;
    grid-column-end: span 12;
  }
}

.element-primary {
  background: #D1ECF1;
  color: black;
}

.element-warning {
  background: #FFF3CD;
  color: black;
}

.element-danger {
  background: #F8D7DA;
  color: black;
}

.element-success {
  background: #D4EDDA;
  color: black;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

/*# sourceMappingURL=framework1.css.map */
