@import "variables";

@mixin alert {
  width: 75vw;
  min-height: 5vh;
  max-height: 25vh;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5% 0;
  border: 1px solid black;
}

@mixin alert-specify($color : grey) {
  color: darken($color, 25%);
  border-color: darken($color, 25%);
  background-color: lighten($color, 7%);
}

@mixin alert-build($type : "informative") {
  @if ($type == "informative") {
    @include alert-specify($info);
  } @else if ($type == "avertissement") {
    @include alert-specify($warning);
  } @else if ($type == "danger") {
    @include alert-specify($danger);
  } @else if ($type == "succès") {
    @include alert-specify($success);
  } @else {
    @error "le type n'est pas parmis informative, avertissement, danger, succès";
  }
}
