@import "variables";

// Variable non modifiable
$classic : 0;
$flat : 1;
$outline : 3;

@mixin bouton{
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

@mixin bouton-color($color : grey){
  color : darken($color, 30%);
  background-color: $color;

  &:hover{
    background-color: darken($color, 30%);
    color : lighten($color, 15%);
  }
}

@mixin bouton-type($type : "default"){
  @if ($type == "default"){
    @include bouton-color();
  }@else if($type == "primary"){
    @include bouton-color($primary);
  }@else if($type == "warning"){
    @include bouton-color($warning);
  }@else if($type == "danger"){
    @include bouton-color($danger);
  }@else if($type == "success"){
    @include bouton-color($success);
  }@else {
    @error "types autorisés default, primary, warning, danger, success"
  }
}

@mixin bouton-size($size : "small"){
    @if ($size == "small"){
      max-width: $small;
    }@else if($size == "medium"){
      max-width: $medium;
    }@else if($size == "large"){
      max-width: $large;
    }@else if($size == "block"){
      max-width: 100%;
      min-width: 100%;
    }@else{
      @error "Les valeurs autorisées sont small, medium, large et block"
    }
}

@mixin bouton-effect($style : "default", $color:grey){
  @if($style == "default"){
    border : 1px solid darken($color, 50%);
    box-shadow: 3px 3px darken($color, 30%);
  }@else if($style == "flat"){
    box-shadow: none;
    border : none;
  }@else if($style == "outline"){
    border : 1px solid darken($color, 50%);
    background: none;
    color : darken($color, 50%);
  }@else{
    @error "types autorisés default, flat, outline"
  }
}

@mixin bouton-standard($color:grey){
  @include bouton;
  @include bouton-color($color);
  @include bouton-size("small");
  @include bouton-effect("default", $color);
}


@mixin createBouton($color:grey, $size : "small", $effect:"default"){
  @include bouton;
  @include bouton-color($color);
  @include bouton-size($size);
  @include bouton-effect($effect, $color);
}


