@import "variables";

@mixin grid($nbColumns : $nbColumnsDefault){
  display: grid;
  grid-template-columns: repeat($nbColumns, 1fr);

}

@mixin nbLine($nb : $nbLinesDefault){
  grid-template-rows: auto;
}

@mixin element(){
  grid-gap: 10px;
  padding : 1%;
  box-sizing: border-box;
}

@mixin elementCouleurs($background : $bgDefault, $color : $colorDefault){
  background: $background;
  color : $color;
}

@mixin elementSizeDepart($nbColumnDepart : 1, $columnSize : 1){
  grid-column: $nbColumnDepart / span $columnSize;
  grid-row: auto;
}

@mixin elementSize($nbColumns : 1){
  grid-row: auto;
  grid-column-end: span $nbColumns;
}

@mixin createGrid($nbColumns : $nbColumnsDefault, $nbLignes : $nbLinesDefault){
  @include grid($nbColumns);
  @include nbLine($nbLignes);

}