@import "variables";

@mixin navbar {
  list-style-type: none;
  display: flex;
  background-color: $background-nav;
  margin: 0;
  align-items: center;
  justify-content: $justify;
  padding: 0;

  @media (max-width: 900px) {
    justify-content: space-around;
  }

  @media (max-width: 300px) {
    flex-direction: column;
  }
}

@mixin navbar-specify-color($background-color : $background-nav) {
  background-color: $background-color;
}

@mixin navbar-specify-justify($justify-content : $justify) {
  justify-content: $justify-content;
}


@mixin navitem {

  @media (max-width: 900px) {
    flex-grow: 1;
  }

  @media (max-width: 300px) {
    width: 100%;
  }

  text-decoration: none;
  color: $color-nav;
  background-color: $background-nav;
  font-weight: bold;
  padding: 1em;
  text-align: center;

  &:hover {
    background-color: darken($background-nav, 15%);
  }

  &:active {
    background-color: darken($background-nav, 20%);
  }
}

@mixin navitem-specify-background($background-color : $background-nav) {
  background-color: $background-color;
  &:hover {
    background-color: darken($background-color, 15%);
  }

  &:active {
    background-color: darken($background-color, 20%);
  }
}

@mixin navitem-specify-text($color : $color-nav) {
  color: $color;
}