/* COULEUR PAR DEFAUT */
$info: #D1ECF1 !default;
$success: #D4EDDA !default;
$danger: #F8D7DA !default;
$warning: #FFF3CD !default;
$primary : #D1ECF1 !default; // Couleur primaire (bleu)

$small : 10vw !default; // Taille bouton (petit)
$medium : 20vw !default; // Taille bouton (moyen)
$large : 45vw !default; // Taille bouton (grand)

$nbColumnsDefault : 12 !default; // Nb colonnes d'une grille
$nbLinesDefault : auto-fit !default; // Nb ligne d'une grille
$bgDefault : white !default; // Background d'un element de la grille
$colorDefault : black !default; // Couleur d'un element de la grille

$background-nav: darkgrey !default; // Background de la barre de navigation
$color-nav: white !default; // Couleur des elements de la barre de navigation
$justify: flex-end !default; // Placement des boutons de la barre de navigation