@import "alerte";
@import "navbar";
@import "boutons";
@import "grid";

$couleurs: (red, blue, green, yellow, pink, purple, cyan, grey, black);

/* GESTION ALERTE */
.alert {
  @include alert;
}

.success {
  @include alert-build("succès");
}

.danger {
  @include alert-build("danger");
}

.warning {
  @include alert-build("avertissement");
}

.info {
  @include alert-build("informative");
}

@each $couleur in $couleurs {
  .alert-#{$couleur} {
    @include alert-specify($couleur)
  }
}

/* GESTION NAVBAR */

.navbar {
  @include navbar;
}

.navitem {
  @include navitem;
}

@each $couleur in $couleurs {
  .navbar-#{$couleur} {
    @include navbar-specify-color($couleur);
  }
  .navitem-bg-#{$couleur} {
    @include navitem-specify-background($couleur)
  }
  .navitem-color-#{$couleur} {
    @include navitem-specify-text($couleur)
  }
}

@each $justify in (center, flex-end, flex-start) {
  .navbar.#{$justify} {
    @include navbar-specify-justify($justify);
  }
}

/* GESTION BOUTONS */
.btn {
  @include createBouton();
}

.btnSm {
  @include bouton-size($size: "small");
}

.btnMd {
  @include bouton-size($size: "medium");
}

.btnLg {
  @include bouton-size($size: "large");
}

.btnSuccess {
  @include bouton-type("success");
}

.btnDanger {
  @include bouton-type("danger");
}

.btnWarning {
  @include bouton-type("warning");
}

.btnPrimary {
  @include bouton-type("primary");
}

.btnFlat {
  @include bouton-effect("flat");
}

.btnOutline {
  @include bouton-effect("outline");
}

@each $couleur in $couleurs {
  .btn-#{$couleur} {
    @include bouton-color($couleur);
  }
}

/* GESTION GRID */
@each $nb in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
  .col-md-#{$nb} {
    @include element();
    @include elementSize($nb);
  }
  .col-xs-#{$nb} {
    @media screen and (max-width: 800px) {
      @include element();
      @include elementSize($nb);
    }
  }
}

.element-primary {
  @include elementCouleurs($primary);
}

.element-warning {
  @include elementCouleurs($warning);
}

.element-danger {
  @include elementCouleurs($danger);
}

.element-success {
  @include elementCouleurs($success);
}

.row{
  @include createGrid($nbColumnsDefault, auto-fit);
}
